<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">
    <h3>Booking</h3>
  </div>
  <div class="page__content shadow p-3 position-relative">
    <div class="container mt-2">
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <form [formGroup]="reactiveForm">
            <div class="row mb-3">
              <div class="col-sm-8">
                <div class="form-group">
                  <label>Full Name <span class="text-danger">*</span></label>
                  <input
                    type="text"
                    formControlName="fname"
                    class="form-control"
                    placeholder="Name"
                  />
                  <span
                    *ngIf="
                      submitted ||
                      forms['fname'].dirty ||
                      (forms['fname'].touched && forms['fname'].invalid)
                    "
                    class="info-msg text-danger"
                  >
                    <small
                      *ngIf="forms['fname'].errors && 
                                              forms['fname'].errors?.['required']"
                    >
                      Full name is required !
                    </small>
                  </span>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-sm-8">
                <div class="form-group">
                  <label>Email <span class="text-danger">*</span></label>
                  <input
                    type="email"
                    formControlName="email"
                    class="form-control"
                    placeholder="Email"
                  />
                  <span
                    *ngIf="
                      submitted ||
                      forms['email'].dirty ||
                      (forms['email'].touched && forms['email'].invalid)
                    "
                    class="info-msg text-danger"
                  >
                    <small
                      *ngIf="forms['email'].errors && 
                                              forms['email'].errors?.['required']"
                    >
                      Email is required !
                    </small>
                  </span>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-8">
                <div class="form-group">
                  <label
                    >Vehicle Number <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    formControlName="vechileNumber"
                    class="form-control"
                    placeholder="Vehicle Number"
                  />
                  <span
                    *ngIf="
                      submitted ||
                      forms['vechileNumber'].dirty ||
                      (forms['vechileNumber'].touched && forms['vechileNumber'].invalid)
                    "
                    class="info-msg text-danger"
                  >
                    <small
                      *ngIf="forms['vechileNumber'].errors && 
                                              forms['vechileNumber'].errors?.['required']"
                    >
                      Vehicle Number is required !
                    </small>
                  </span>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-sm-8">
                <div class="form-group">
                  <label
                    >Contact Number <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    formControlName="mobileNumber"
                    class="form-control"
                    placeholder="Contat Number"
                  />
                  <span
                    *ngIf="
                      submitted ||
                      forms['mobileNumber'].dirty ||
                      (forms['mobileNumber'].touched && forms['mobileNumber'].invalid)
                    "
                    class="info-msg text-danger"
                  >
                    <small
                      *ngIf="forms['mobileNumber'].errors && 
                                              forms['mobileNumber'].errors?.['required']"
                    >
                      Contact Number is required !
                    </small>
                  </span>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-sm-12">
                <button
                  class="btn btn-success w-10"
                  (click)="onSubmitForm(reactiveForm.value)"
                  type="button"
                >
                  Book Slot
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
